
# Created by https://www.gitignore.io/api/code,kicad,platformio
# Edit at https://www.gitignore.io/?templates=code,kicad,platformio

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### KiCad ###
# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.sch-bak
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

### KiCad Patch ###
escue-backup/

*.tsv
bom/

# Gerber export output
out/

### PlatformIO ###
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio

# End of https://www.gitignore.io/api/code,kicad,platformio

Web/Web_server_KeyBox/src/creditential.h

ESP32/Test Wifi/src/creditential.h

ESP32/Test SPIFFS/.history/platformio_20200330162109.ini

ESP32/Test SPIFFS/.history/platformio_20200415150448.ini

ESP32/Test SPIFFS/.history/platformio_20200415151927.ini

ESP32/Test SPIFFS/.history/platformio_20200415153826.ini

ESP32/Test SPIFFS/.history/src/main_20200415095214.cpp

ESP32/Test SPIFFS/.history/src/main_20200415151154.cpp

ESP32/Test SPIFFS/.history/src/main_20200415151914.cpp
